body {
    background-color: rgb(206, 229, 208);
    color: rgb(94, 69, 75);
    font-family: Georgia, serif;
}

.container {
    border-style: double;
    border-color: rgb(243, 240, 215);
}

.form-control {
    background-color: rgb(243, 240, 215);
}

.heading {
    color: rgb(94, 69, 75);
}

.form-group {
    background-color: white;
}

hr {
    color:rgb(94, 69, 75); 
}

.tipAmount {
        background-color: red;
} 

