body {
    background-color: #C2B8A3;
    color: #A19882;;
    font-family: 'Baloo 2', cursive;
}

.container {
    border-style: double;
    border-color: #E6DDC6; 
}
 
/* Input boxes at top of calculator */
.form-control {
    background-color: #FEF7DC;
}

/* Tip Calculator Heading */
.heading {
    color: #A19882;
}

/* Boxes with prompts */
.form-group {
    background-color: #ffffff;
}

/* Line between calculator and total */
hr {
    color: #E6DDC6; 
}

/* Tip Amount  */
#tipAmount {
    background-color: #FEF7DC;
    border: 0.1px solid #A19882;
    border-radius: 4px;
    padding: 4px 0px 4px 0px;
}

/* Total Bill with Tip */
#totalBillWithTip {
    background-color: #FEF7DC;
    border: 0.1px solid #A19882;
    border-radius: 4px;
    padding: 4px 0px 4px 0px;
} 

/* Total Bill with Tip */
#groupNumber {
    background-color: #FEF7DC;
    border: 0.1px solid #A19882;
    border-radius: 4px;
    padding: 4px 0px 4px 0px;
} 

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
  }

